@use 'src/styles/vars';

@font-face {
  font-family: 'Harry';
  src: url('../../../assets/fonts/harryp.ttf');
}

.wizard-type {
  font-family: 'Harry', sans-serif;
  font-size: 3rem;
  text-align: center;
  color:vars.$color-white;
  margin-bottom:2rem;
}

.student-point {
  color:vars.$color-white;
}

.wizard-ranking {
  padding-bottom:3rem;
}
