@use 'src/styles/vars';

.password-form {
  background: url('../../assets/img/forbidden-forest-hp.jpg');
  background-size: cover;
  background-position: center center;
}

.password-form h1 {
  font-size:4rem;
  color:vars.$color-white;
}


@media (max-width: 942px) { 
  .account-list {
    flex-direction: column;
  } 
}
