@use 'src/styles/vars';

.account {
  background: url('../../assets/img/forbidden-forest-hp.jpg');
  background-size: cover;
  background-position: center center;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:5rem 0 5rem 0;

  &-disconnect {
    margin-top:1rem;
    color:vars.$color-white;
  }

  &-list {
    display:flex;
    margin-top:5rem;
  }
}

.account h1 {
  font-size:4rem;
  color:vars.$color-white;
}


@media (max-width: 942px) { 
  .account-list {
    flex-direction: column;
  } 
}
