.header {
  background: url('../../assets/img/image-header-hp.jpg');
  background-size: cover;
  height:70vh;
}

.header-nav {
  display:flex;
  justify-content: space-between;
  padding:25px 20px 25px 20px;
}
