.hourglass{
margin: auto 1em;
display: flex;
flex-direction: column;
justify-content:center;
align-items: center;
  .score{
    background: white;
    color:black;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 1em;
  }
  .current-points{
    margin-top: 1em;
  }
  .gained-points{
    margin-bottom:1em;
  }
  .house-name{
    font-weight:800;
    font-size: 1.1em;
    margin: 0.2em;
    &__english{
    font-size:1em;
    font-weight: lighter;
    }
  }

}
