@use 'src/styles/vars';

@font-face {
  font-family: 'Tangerine';
  src: url('../../assets/fonts/Tangerine-Regular.ttf');
}

@font-face {
  font-family: 'Harry';
  src: url('../../assets/fonts/harryp.ttf');
}

.rules {

& h1 {
  margin-top:3rem;
  font-size:4rem;
  margin-bottom: 2rem;
  font-family:'Harry', sans-serif;
  letter-spacing:0.2rem;
  
}

&-item {

  &-title-left, &-title-right {
    margin-top:2rem;
    background:vars.$color-grey;
    color:vars.$color-white;
    padding:2rem;
    font-family: 'Tangerine', sans-serif;
    font-size:2.3rem;
  }

  &-title-right {
    text-align:right;
  }

  &-content {
    background:#F2F2F2;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding-top:2rem;

    &-text {
      margin-left:5rem;
      margin-right:5rem;
      font-size:1rem;
      font-weight:300;

      & p {
        padding-top:2rem;
        padding-bottom:2rem;
      }
    }
  }
}
  &-img-left {
    padding-left:40px;
    width:300px;
  }

  &-img-right {
    padding-right:40px;
    width:300px;
  }
}

.rules-item:last-child {
  margin-bottom:2rem;
}


@media (max-width: 942px) {
  .rules-item-content {
    flex-direction: column;
  }

  .rules-item-content-text {
    margin-left:1rem;
    margin-right:1rem;
  }
}
